### Creating Database in MySQL

In [3]:
from mysql.connector import connect

In [4]:
my_db=connect(host="localhost", user="root", password="Theuserdied@8")

my_cursor=my_db.cursor()

my_cursor.execute("CREATE DATABASE PYSQL")
print("database created")

database created

In [5]:
my_cursor.execute("show databases")
for i in my_cursor:
    print(i)

('datatype',)
('employee',)
('hr',)
('information_schema',)
('my_info',)
('mydb',)
('mysql',)
('northwind',)
('online_seller',)
('performance_schema',)
('pizza',)
('pysql',)
('sslc_student_markshit',)
('student',)
('sys',)

**You can see the pysql in the database list.**

### Creating table in selected database

In [17]:
my_database=connect(host="localhost", user="root", password="Theuserdied@8", database="pysql")

my_cursor=my_database.cursor()

my_cursor.execute('''CREATE TABLE FRIENDS_INFO(
                 NAME VARCHAR(20),
                 MOBILE_NUMBER VARCHAR(10),
                 CITY VARCHAR(20))''')
print("Table created successfuly")

ProgrammingError: 1050 (42S01): Table 'friends_info' already exists

### Insert the records into table

In [18]:
my_cursor.execute('''INSERT INTO FRIENDS_INFO
                    VALUES("PRAKASH",8722321637,"RAICHUR"),
                          ("BASAVRAJ", 8382967234,"BAGALKOTE"),
                          ("SHIVRAJ", 7492871637,"BELGAUM"),
                          ("DHANALAXMI",8976412342,"BANGALORE"),
                          ("VAODEHI",7835264527,"NAGPUR"),
                          ("MANJUSHA",9809876452,"PANJIM"),
                          ("RIMA",6787262598,"MUMBAI")''')
print("Records inserted successfully")

Records inserted successfully

In [13]:
import pandas as pd

In [19]:
my_cursor.execute("SELECT * FROM FRIENDS_INFO")

df=pd.DataFrame({"Name":[],"Mobile_No":[],"City":[]})

for friend in my_cursor:
    friend_df=pd.DataFrame({"Name":[friend[0]],"Mobile_No":[friend[1]],"City":[friend[2]]})
    df=pd.concat((df,friend_df), axis=0)
    
df

         Name   Mobile_No       City
0     PRAKASH  8722321637    RAICHUR
0    BASAVRAJ  8382967234  BAGALKOTE
0     SHIVRAJ  7492871637    BELGAUM
0  DHANALAXMI  8976412342  BANGALORE
0     VAODEHI  7835264527     NAGPUR
0    MANJUSHA  9809876452     PANJIM
0        RIMA  6787262598     MUMBAI